.app {
  text-align: center;
  color: white;
  background-color: #282c34;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vw);
  color: white;
}

.app-link {
  color: #61dafb;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  padding: 20px;

  color: #a5cad4;
  font-size: calc(16px + .5vw);
}

a, a:visited, a:active, a:link {
  color: inherit;
  outline: none;
}

a:hover {
  color: #61dafb;
}
