.uuid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uuid-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;

  transition: background 150ms;

  padding: calc(6px + .5vw) calc(4px + .5vw);
  height: calc(10px + 4vw);
  min-width: calc(10px + 3vw);
}

.uuid-container:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid rgba(0, 0, 0, .2);
}

.uuid-container:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.uuid-container:hover {
  border: 2px solid transparent;
  background: rgba(255, 255, 255, .2);
}

.uuid-icon {
  font-size: inherit;
  text-align: center;
  color: #61dafb;

  -webkit-touch-callbout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uuid-value {
  display: block;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-variant-numeric: tabular-nums;
  padding: 0 calc(2px + .2vw);
  word-break: break-all;
}

.uuid-refresh {
  background: rgba(0, 0, 0, .2);
}

.uuid-status--success {
  color: #38a169;
}

.uuid-status--error {
  color: #e53e2e;
}

@media screen and (max-width: 500px) {
  .uuid-container {
    font-size: 14px;
    padding: 8px 6px;
    height: 30px;
    min-width: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .uuid-container {
    padding: calc(6px + .25vw) calc(4px + .25vw);
    height: calc(32px + 2vw);
    min-width: calc(32px + 2vw);
  }
}
