.uuid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uuid-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: background 150ms;

  background-color: #282c34;

  height: calc(8px + 3.5vw);
  min-width: calc(8px + 3.5vw);
}

.uuid-container:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.uuid-container:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.uuid-button {
  background: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.uuid-button:hover {
  border-color: transparent;
  background: rgba(255, 255, 255, .2);
}

.uuid-icon {
  font-size: calc(10px + .8vw);
  text-align: center;
  color: #61dafb;

  -webkit-touch-callbout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uuid-icon-rotate {
  animation: rotate-keyframes 250ms;
}

.uuid-value {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-variant-numeric: tabular-nums;
  padding: 0 calc(6px + .5vw);
  word-break: break-all;
  background: rgba(255, 255, 255, .05);
  /* border: 2px solid rgba(0, 0, 0, .2); */
}

.uuid-refresh > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.uuid-status--success {
  color: #38a169;
}

.uuid-status--error {
  color: #e53e2e;
}

@keyframes rotate-keyframes {
  0% {
   transform: rotate(0deg);
  }

  80% {
   transform: rotate(382deg);
  }

  100% {
    transform: rotate(360deg);
   }
 }

@media screen and (max-width: 500px) {
  .uuid-container {
    font-size: 14px;
    height: 30px;
    min-width: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .uuid-container {
    font-size: calc(18px + 1vw);
    height: calc(32px + 2vw);
    min-width: calc(32px + 2vw);
  }
}

@media screen and (min-width: 2600px) {
  .uuid-container {
    font-size: 44px;
    height: 82px;
    min-width: 82px;
  }

  .uuid-icon {
    font-size: 32px;
  }
}
